body {
    font-family: 'Verdana','Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;
    width: 100vw;
}

nav {
    background-color: #FFFFFF;
    padding: 0px  100px 0 100PX;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    color: #335576;
    font-weight: 400;
}

.nav__links {
    text-decoration: none;
}

.nav__right {
    color: #393939;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.nav__right ul {
    display: flex;  
    list-style-type: none;
    align-items:center;
    padding: 0;  
    margin: 0;  
}

.nav__right li {
    margin-right: 20px;  
}

.nav__right li:last-child {
    margin-right: 0;  
}

footer {
    background-color: #FEFAF5;
    padding: 20px  100px 20px 100PX;
    display: flex;
    justify-content: space-between;
}

.footer__tittle{
    color: #335576;
}

.footer__hours{
    display: flex;
    justify-content: space-between;
}

.footer__information{
    color: #DB7A4E;
}

.footer__detail{
    color: #335576;
    margin: 0 20px 0 0;
}

.footer__icon {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0;
}

.footer__icon--facebook {
    width: 10px;
    height: 20px;
}

h1, h2, h3, h4, p { 
    font-family: 'Verdana','Open Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #393939;
}

h2 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #393939;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
    color: #393939;
}

h4 {
    font-size: 0.8rem;
    font-weight: 300;
    color: #393939;
}

p{
    font-size: 0.6rem;
    font-weight: 400;
    color: #393939;
}








  
